.footer {
    background-color: #d5e3d7;
}
.footer__store{
    max-width: 100%;
    font-size: 14px;
    padding-top: 40px;
    width: 72rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: hidden;
    left: 0px;
    font-family: "Montserrat";
}
.footer_store_img img{
    width: 100%;
}
.footer__header1{
    padding-left: 65px;
    list-style: none;
    flex: 1;
    line-height: 25px;
}
li.footer__header {
    padding: 10px;
    color: #000;
}
.footer__header2{
    padding-left: 45px;
    list-style: none;
    flex: 1; 
    line-height: 25px;
}
.footer__header3{
    flex: 1;
    line-height: 20px;
}
.footer__header4{
    flex: 1;
}
.footer__title{
    color: #000;
    font-weight: bold;
}
.footer__title2{
    color: #000;
}
.title_ft{
    color: #000;
}
.title_ft > a {
    color: black;
    text-decoration:none;
}
.footer__end{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #d5e3d7;
    text-align: center;
}