/*Header*/
.header_nav{
    background-image: linear-gradient(0,#10592e,#10592e);
    background-size: cover;
    width: 100%;
    z-index: 1;
}
.header__navbar{
    width: 100%;
    display: flex;
    margin-top: 0px;
}
.header__navbar-list{
    padding: 15px 0;
   
    margin: auto;
    list-style: none;
}
.header__navbar-text{
    color: aliceblue;
    font-size: 11px;
    margin: auto;
}
.header__navbar-list1{
    margin-top: 16px;
    margin-right: 20px;
    list-style: none;
    padding-left: 0;
}
.header__navbar__close{
    color: aliceblue;
}
/*Menu*/
.header{
    width: 100%;
}
.grid {
    z-index: 1;
   
    background-color: white;
    box-shadow: 3px 3px 3px rgb(212, 211, 211);
}

.grid__row {
    width: 76rem;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
}
.header__navbar-item {

    display: inline-block;
    list-style: none;
    align-items: center;
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: bold;
    padding-top: 16px;
    position: relative;
    margin-right: 46px;
}
.h_n_i{
    color: black;
    text-decoration: none;
}
.header__navbar_menu{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 12px;
    color: black;
}
.header__logo1{
    list-style: none;
    padding-left: 0;
    padding-inline-start: 5px;
    margin-block-start: 7px;
}
.button-icon {
    background-color: rgb(255, 38, 0);
    font-size: 15px;
    color: var(--white-color);
    border: none;
    border-radius: 25px;
    width: 140px;
    height: 45px;
    margin-left: -140px;
    
    padding: 3px 3px;
}

ul.header__navbar-list1 > li {
    position: relative;
}
.sub_menu > li > a {
    color: black;
    text-decoration: none;
}
.sub_menu1 > li > a {
    color: black;
    text-decoration: none;
}
ul.sub_menu {
    width: 200px;
    display: none;
    position: absolute;
    /* background: rgb(235, 233, 233) ; */
    background: white;
    padding-top: 40px;
    padding-left: 10px;    
}

ul.sub_menu > li {
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
}
ul.sub_menu > li > a{
    line-height: 30px;
}

ul.header__navbar-list1 > li:hover ul.sub_menu {
    display: block;
}
ul.sub_menu1 {
    width: 200px;
    display: none;
    position: absolute;
    background: white;
    padding-left: 10px;    
}

ul.sub_menu1 > li {
    list-style-type: none;
    font-size: 15px;  
}

ul.sub_menu1 > li > a{
    line-height: 30px;
}

ul.sub_menu > li:hover ul.sub_menu1 {
    display: block;
}

nav > ul li > ul li >ul{
    margin-left: 200px;
    margin-top: -30px;
    font-weight: 400;
}
.sub_menu li:hover {
    background: #ebebeb;
}